# .env.example

# This is an example file for running the app locally.
# This must be copied into .env file
# To run
# - use npm script: npm run start_local
# - HerokuCLI: heroku local web

# Url to the MongoDb database
MONGO_DB_URL="url_to_mongodb"